body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-size: cover;
  background-image: url("./img/KuwaitCodesWallpaper.png");
  font-family: Cairo;
  

}

/* المطلوب الثاني هنا */
nav {
  display:flex ;
  justify-content: center;
}
.nav-elements {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.card {
  /* المطلوب الثالث هنا */
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.774);
  
  box-shadow: 5px 10px 50px blue;
  border-radius: 12px
}

img {
  /* المطلوب الرابع هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 15px 20px 50px blue;
  border-radius: 50%;
}

.hobbies {
  display: flex- ;
  
  
}
.hobbies img:hover{
  transform: translate(0px,100px) rotate(15deg);

}

.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
